# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

.DS_Store
tmp/
__pycache__
.zig-cache/

qip
site-static.tar
site-static/
/modules/utf8/dejavu_sans_mono_56_latin1_paths.wasm.o
/modules/utf8/dejavu_sans_mono_bold_56_latin1_paths.wasm
/modules/utf8/dejavu_sans_mono_bold_56_latin1_paths.wasm.o
